<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tournament</title>
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
  <style>
    .input-zone, .output-zone {
      margin: 10px;
      padding: 10px;
      border: 1px solid #eee;
      border-radius: 10px;
    }
    .team-list {
      display: flex;
      flex-wrap: wrap;
    }
    .team-list-item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 100px;
      height: 30px;
      margin-top: 10px;
      margin-right: 5px;
      padding: 5px;
      color: #555;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-shadow: 1px 2px #ccc;;
    }
    .team-list-item:hover {
      cursor: pointer;
      text-decoration: line-through;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
  <div id="app">
    <div class="input-zone">
      <div>
        <span>Team/Player Name:</span>
        <input type="text" v-model="team" @keyup.enter="add">
        <button @click="add">Add</button>
        <button v-if="drawable" @click="generate">Generate Matchups</button>
        <input id="checkbox" type="checkbox" v-if="drawable" v-model="colorized">
        <label for="checkbox" v-if="drawable">Colorize</label>
      </div>
      <div class="team-list">
        <div class="team-list-item" v-for="(team, index) in teams" @click="remove(team)">
          {{ team }}
        </div>
      </div>
    </div>
    <div class="output-zone">
      <canvas id="canvas" width="1280" height="800"></canvas>
    </div>
  </div>
  <script>
    const codeA = 'A'.charCodeAt(0);
    // ref: https://material.io/guidelines/style/color.html#color-color-palette
    const colorPalette = {
      0: '#F44336',
      1: '#673AB7',
      2: '#03A9F4',
      3: '#4CAF50',
      4: '#FF9800',
      5: '#FF5722',
      6: '#607D8B',
      7: '#E91E63',
      8: '#3F51B5',
      9: '#00BCD4',
      10: '#8BC34A',
      11: '#B388FF',
      12: '#795548',
      13: '#EA80FC',
      14: '#2196F3',
      15: '#009688',
      16: '#D81B60',
      17: '#BCAAA4',
      18: '#FF80AB',
      19: '#00695C',
      20: '#01579B',
      21: '#4A148C',
      22: '#FFB300',
      23: '#FF1744',
      24: '#827717',
      25: '#FF8A65'
    };

    const getSeedIndex = (length) => {
      if (length%2 === 0) {
        return -1;
      }
      const index = Math.floor((Math.random() * length));
      // because arrays are zero-indexed
      // so the index of a even number will be odd
      // and the index of an odd number will be even
      if (index%2) {
        // re-elect when the index is even
        return getSeedIndex(length);
      } else {
        return index;
      }
    };

    const drawMatchUps = (ctx, blocks) => {
      if (blocks.length === 1) {
        return;
      }
      const newBlocks = [];
      let index = getSeedIndex(blocks.length);
      let i = 0;
      ctx.strokeStyle = 'black';
      while(i < blocks.length) {
        const block = blocks[i];
        const newBlock = {
          y: block.y-block.h*2,
          w: block.w,
          h: block.h
        };
        if (i === index) {
          ctx.beginPath();
          ctx.moveTo(block.x+block.w/2, block.y);
          ctx.lineTo(block.x+block.w/2, block.y-block.h);
          ctx.stroke();
          newBlock.x = block.x;
          i += 1;
        } else {
          const neighbor = blocks[i+1];
          ctx.beginPath();
          ctx.moveTo(block.x+block.w/2, block.y); // move to the center of the block
          ctx.lineTo(block.x+block.w/2, block.y-block.h/2); // draw | upward
          ctx.lineTo(neighbor.x+neighbor.w/2, block.y-block.h/2); // draw - rightward
          ctx.lineTo(neighbor.x+neighbor.w/2, neighbor.y); // draw | downward
          
          const centerX = (block.x+block.w/2+neighbor.x+neighbor.w/2)/2;
          ctx.moveTo(centerX, neighbor.y-neighbor.h/2); // move to the center of the inter-connected line
          ctx.lineTo(centerX, neighbor.y-neighbor.h); // draw | upward
          ctx.stroke();
          newBlock.x = centerX-block.w/2;
          i += 2;
        }
        ctx.strokeRect(newBlock.x, newBlock.y, newBlock.w, newBlock.h);
        newBlocks.push(newBlock);
      }
      drawMatchUps(ctx, newBlocks);
    };

    const app = new Vue({
      el: '#app',
      data: {
        team: '',
        teams: [],
        colorized: true
      },
      computed: {
        drawable() {
          return this.teams.length >= 2;
        }
      },
      methods: {
        pad(num) {
          return `${num}`.padStart(2, 0);
        },
        shuffle(arr) {
          // ref: https://en.wikipedia.org/wiki/Fisher%E2%80%93Yates_shuffle#The_modern_algorithm
          const shuffled = arr.map(item => item);
          for (let i = shuffled.length-1; i > 0; i--) {
            let j = Math.floor(Math.random()*(i+1));
            let x = shuffled[i];
            shuffled[i] = shuffled[j];
            shuffled[j] = x;
          }
          return shuffled;
        },
        add() {
          const name = this.team.trim();
          if (!name) {
            return;
          }
          if (this.teams.length === 26) {
            return alert('max teams/players: 26');
          }
          if (this.teams.find(team => team === this.team)) {
            return alert('name conflict');
          } 
          this.teams.push(this.team);
          this.team = '';
        },
        remove(name) {
          this.teams = this.teams.filter(team => team !== name);
        },
        generate() {
          const teams = this.shuffle(this.teams);
          const canvas = document.getElementById('canvas');
          if (canvas.getContext) {
            const ctx = canvas.getContext('2d');
            const blockWidth = canvas.width/teams.length;
            const blockHeight = 50;
            const baseX = 5;
            const baseY = canvas.height-blockHeight;
            const blockGap = 10;
            const blocks = [];
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.font = '16pt Courier';
            ctx.fillStyle = 'black';
            ctx.strokeStyle = 'black';
            ctx.lineWidth = 3;
            ctx.fillText(`Teams/Players Mapping Table (total:${teams.length})`, 10, 30);
            teams.forEach((team, index) => {
              const code = String.fromCharCode(codeA+index);
              const column = index%3;
              const row = Math.floor(index/3);
              if (this.colorized) {
                ctx.fillStyle = colorPalette[index];
                ctx.strokeStyle = colorPalette[index];
              }
              // draw mapping table
              ctx.fillText(`(${code})${team}`, column*400+20, row*30+70);
              // draw blocks
              const block = {
                x: baseX+index*blockWidth,
                y: baseY,
                w: blockWidth-blockGap,
                h: blockHeight-blockGap
              };
              blocks.push(block);
              ctx.strokeRect(block.x, block.y, block.w, block.h);

              // align text to the center of a block
              const text = `(${code})`;
              const textWidth = ctx.measureText(text).width;
              const offsetX = blockWidth/2-textWidth/3*2;
              const offsetY = blockHeight/2;
              ctx.fillText(text, block.x+offsetX, block.y+offsetY);
            });
            drawMatchUps(ctx, blocks);
          }
        }
      }
    })
  </script>
</body>
</html>